
# https://wiki.archlinux.org/index.php/Systemd/User
# sudo loginctl enable-linger $USER
# systemctl --user enable android-tether

[Unit]
Description=a permanent tunnel using adb and sshuttle
After=network.target

[Service]
ExecStart=%h/android/control.py vpn SSH_ENDPOINT
Restart=always
RestartSec=30
Type=simple

[Install]
WantedBy=default.target
