
# https://wiki.archlinux.org/index.php/Systemd/User
# sudo loginctl enable-linger $USER
# systemctl --user enable android-tether

[Unit]
Description=a permanent tunnel using adb and sshuttle
After=network.target

[Service]
ExecStart=%h/ObedientDroid/control.py vpn
Restart=always
RestartSec=30
#disable systemd disabling things if they restart too much
StartLimitIntervalSec=0
Type=simple

[Install]
WantedBy=default.target
